.popup__container {
    display: flex;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:480px) {
    .popup__container {
        max-width: 282px;
        margin: 0 19px;
    }
}