.form__item_group {
    border: none;
    border-bottom: 1px solid #000;
    max-width: 328px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media screen and (max-width:480px) {
    .form__item_group {
        max-width: 238px;
    }
}