.popup__button-save {
    max-width: 358px;
    height: 50px;
    background: #000;
    color: #fff;
    border-radius: 2px;
    border: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    margin: 48px 36px 37px;
    padding: 0;
}