.profile__item-button{
    background: none;
    border: none;
    box-shadow: none;
    border: 1px solid #FFF;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}