.profile__info{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}