.popup_item_group {
    max-width: 358px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
}