.profile__info_brand {
    max-width: 294px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:480px) {
    .profile__info_brand {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }

}